.currentWeather{
    background-color: white;
    width:700px;
    height: 259px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 20px;
}
p{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    margin-bottom: 16px;
    opacity: .6;
    padding-left: 20px;
}
.temp{
    font-size: 84px;
    font-weight: 500;
    letter-spacing: -.7px;
    line-height: 1.07;
    padding-left: 20px;
    font-family :cursive;
}
.rainSvg{
    display: flex;
    
}
svg{
    margin-top: 16px;
    padding-left: 20px;
}
.detailWeather{
    display: block;
    width: 300px;
    /* background-color: lightblue; */
    margin-top: -53px;
    margin-left: 30px;
}
.spaced-content{
    /* align-items: center; */
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    justify-content: space-between;
    
}
.spaced-content:last-child{
    border-bottom: none;
}
.phrase{
    font-size: 18px;
    font-weight: 500;
    padding-top: 14px;
    padding-left: 20px;
   
}
.text{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin-right: 6px;
    text-transform: uppercase;
    padding-top: 25px;
}
.forecast{
    background-color: white;
    width:700px;
    height: 183px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 10px;
}
.thunderForecast{
    display: flex;
}
.temp-forecast{
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -.7px;
    line-height: 1.07;
    padding-left: 53px;
    font-family :cursive;
}
.after-temp{
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.22;
    margin-left: -14px
}
.real-feel{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.43;
    margin-left: 52px;
}
.forecast-phrase{
    margin-top: 30px;
    margin-left: 85px;
}
.icon-arrow-forecast{
    margin-left: 175px;
    margin-top: 33px;
}
.forecast-tonight{
    background-color: white;
    width:700px;
    height: 183px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 50px;
}
.rain-forecast{
    display: flex;
}
.forecast-tomorrow{
    background-color: white;
    width:700px;
    height: 183px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 8px;
}
.icon-arrow-forecast-today{
    margin-left: 198px;
    margin-top: 33px;
}


.product{
    padding: 0 20px;
    margin: 0 auto;
    width: 600px;
    height: 700px;
    transition: transform 0.3s ease;
}
.slider-wrap{
    position: relative;
    overflow: hidden;
    height: 366px;
    transition: transform 0.3s ease;
}
.slider-main{
    position: absolute;
    width: 200%;
    transition: transform 0.3s ease;
}
.item{
    position: relative;
    border: 5px ;
    border-radius: 35px;
    width: 565px;
    height: 390px;
   
   transition: transform 0.3s ease;
}
.text{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translate(-50%,-50%);
    text-transform: none !important;
    color: #fff;
    transition: transform 0.3s ease;
}
.prev{
    position: absolute;
    left: 112px;
    top: 65%;
    width: 38px;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 4px
}
.next{
    position: absolute;
    right: 119px;
    top: 65%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 4px
}
.rain{
    margin-top: 18px;
    color: whitesmoke;
    filter: drop-shadow(1px 1px 10px skyblue);
    width: 100px;
    height: auto;
  }
  .sun {
    margin-top: 18px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
    width: 100px;
    height: auto;
    
  }
  .cloud{
    margin-top: 18px;
    color: whitesmoke;
    filter: drop-shadow(1px 1px 10px whitesmoke);
    width: 100px;
    height: auto;
  
}
  .icon{
    margin-top: 177px;
    padding-left: 16px;
  }
   .name{
    font-size: 37px;
    font-family: "popins";
    color:whitesmoke;
  }
 .detail-page{
    width: 100%;
    display: flex;
    flex-direction: row;
   
 }
 .detail{
    width: 89%;
    /* background-image: url("https://i.gifer.com/1ZvY.gif"); */
 
 }
 .cityName{
    margin-left: 50%;
   color: blueviolet;
 }
 .middle{
    margin-top: 74px;
   
 }

 .weather-container{
    /* background-color: cadetblue; */
    width: 50%;
    margin: 0 auto;
    
}
 .detail-container{
    /* background-color: burlywood; */
    padding-left:  173px; 
    height: 361px;
    width: 815px;
 }
 .blue-bg {
    background-image: url("https://i.gifer.com/1ZvY.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  
  .green-bg {
    background-image: url("https://i.gifer.com/Ozx.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  .two-bg{
    background-image: url("https://i.gifer.com/1F1V.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  .three-bg{
    background-image: url("https://i.gifer.com/SnWR.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  .four-bg{ background-image: url("https://i.gifer.com/1ezL.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  .five-bg{
    background-image: url("https://i.gifer.com/1k2j.gifs");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  h3{
    padding-left: 43px;
    padding-top: 10px;
  }
  .image-overlay{
    width: 317px;
    height: 338px
  }
  .detail-container.slide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  .slide-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* overflow-x: auto; */
    margin-left: -298px;
  }
  
  /* .slide {
    flex: 0 0 33.33%; 
    width: 600px;
  }
   */
   .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* overflow-x: auto; */
  }
  
  .slide {
    flex: 0 0 auto;
    /* Add your slide styles here */
  }