<div class="detail-page" *ngFor="let weatherData of weatherDataArray">
  
  <div class="detail" >
    <h1 class="cityName">{{weatherData.list[0].weather[0].description}}</h1>
    <div class="left-side">
      
      <pre>Feels Like:{{weatherData.list[0].main.feels_like}}</pre>
      <pre>Temperature:{{weatherData.list[0].main.temp}}</pre>
      <pre>Temperature Maximum:{{weatherData.list[0].main.temp_min}}</pre>
      <pre>Temperature Minimum:{{weatherData.list[0].main.temp_max}}</pre>
      <pre>Pressure:{{weatherData.list[0].main.pressure}}</pre>
      <pre></pre>
    </div>
  </div>
  <div class="middle">
    <pre>Sun Rise:{{weatherData.city.sunrise}}</pre>
    <pre>Sun Set:{{weatherData.city.sunset}}</pre>
    <pre>Wind Speed:{{weatherData.list[0].wind.speed}}</pre>
    <pre>Sea Level:{{weatherData.list[0].main.sea_level}}</pre>
    <pre>Humidity:{{weatherData.list[0].main.sea_level}}</pre>
  </div>
 
</div>

<button type="button" (click)="onPrevious()" [disabled]="counter===0" class="prev"><fa-icon [icon]="arrowLeft"  class=" fa-2x"></fa-icon></button>
<button type="button" (click)="onNext()" [disabled]="this.counter == this.images.length - 1" class="next"><fa-icon [icon]="arrowRight"  class=" fa-2x"></fa-icon></button>
<div class="detail-container">
  <div class="row">
  <div class="slide" *ngIf="images[counter] && containerWidth >= 1" [@slideAnimation]="counter">
    <div class="image-overlay" [ngClass]="{
      'blue-bg': counter === 0,
      'green-bg': counter === 1,
      'two-bg': counter === 2,
      'three-bg': counter === 3,
      'four-bg': counter === 4,
      'five-bg': counter === 5
    }">
      <h3>description: {{ weatherFiveDays[counter].weather[0].description }}</h3>
      <h3>main: {{ weatherFiveDays[counter].weather[0].main }}</h3>
      <h3>Temperature: {{ weatherFiveDays[counter].main.temp }}</h3>
      <h3>Feels Like: {{ weatherFiveDays[counter].main.feels_like }}</h3>
      <h3>Temperature Minimum: {{ weatherFiveDays[counter].main.temp_min }}</h3>
      <h3>Temperature Maximum: {{ weatherFiveDays[counter].main.temp_max }}</h3>
    </div>
  </div>
  <div class="slide" *ngIf="images[counter+1] && containerWidth >= 2 " [@slideAnimation]="counter+1">
    <div class="image-overlay" [ngClass]="{
      'blue-bg': counter + 1 === 0,
      'green-bg': counter + 1 === 1,
      'two-bg': counter + 1 === 2,
      'three-bg': counter + 1 === 3,
      'four-bg': counter + 1 === 4,
      'five-bg': counter + 1 === 5
    }">
      <h3>description: {{ weatherFiveDays[counter+1].weather[0].description }}</h3>
      <h3>main: {{ weatherFiveDays[counter+1].weather[0].main }}</h3>
      <h3>Temperature: {{ weatherFiveDays[counter+1].main.temp }}</h3>
      <h3>Feels Like: {{ weatherFiveDays[counter+1].main.feels_like }}</h3>
      <h3>Temperature Minimum: {{ weatherFiveDays[counter+1].main.temp_min }}</h3>
      <h3>Temperature Maximum: {{ weatherFiveDays[counter+1].main.temp_max }}</h3>
    </div>
  </div>
  <div class="slide" *ngIf="images[counter+2]  && containerWidth >= 3" [@slideAnimation]="counter+2" >
    <div class="image-overlay" [ngClass]="{
      'blue-bg': counter + 2 === 0,
      'green-bg': counter + 2 === 1,
      'two-bg': counter + 2 === 2,
      'three-bg': counter + 2 === 3,
      'four-bg': counter + 2 === 4,
      'five-bg': counter + 2 === 5
    }">
      <h3>description: {{ weatherFiveDays[counter+2].weather[0].description }}</h3>
      <h3>main: {{ weatherFiveDays[counter+2].weather[0].main }}</h3>
      <h3>Temperature: {{ weatherFiveDays[counter+2].main.temp }}</h3>
      <h3>Feels Like: {{ weatherFiveDays[counter+2].main.feels_like }}</h3>
      <h3>Temperature Minimum: {{ weatherFiveDays[counter+2].main.temp_min }}</h3>
      <h3>Temperature Maximum: {{ weatherFiveDays[counter+2].main.temp_max }}</h3>
    </div>
  </div>
</div>
</div>