
<div class="container" >
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
</div>
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div>  
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div> 
<div class="divWeatherMain" [style.width.px]="containerWidth">
    <div class="weatherWidgetRow">
    <fa-icon [icon]="sunIcon"  class="sun fa-4x"></fa-icon>
</div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">24°/24°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like:24°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">Mumbai</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: 30%</div>
    
</div> 
</div>